/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Space Grotesk", "tabler-icons";
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltips */
tooltip {
  background: rgba(26, 27, 38, 0.7);
  border: 1px solid rgba(26, 27, 38, 0.7);
}
tooltip label {
  color: #a9b1d6;
}

/* Workspaces */
#workspaces {
  background: #1a1b26;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#workspaces button {
  color: #414868;
  padding: 5px;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 10px;
}

#workspaces button.active {
  border-radius: 10px;
  color: #7aa2f7;
}

#workspaces button.focused {
  border-radius: 10px;
  color: #7aa2f7;
}

#workspaces button.visible {
  border-radius: 10px;
  color: #7aa2f7;
}

#workspaces button.urgent {
  color: #f7768e;
}

#workspaces button.hidden {
  border-radius: 10px;
  color: #7aa2f7;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: #24283b;
  color: #ff9e64;
  font-size: 26px;
  padding: 5px;
}
#pulseaudio.1.muted {
  color: #414868;
}
#pulseaudio.2 {
  background: #24283b;
  color: #ff9e64;
  padding: 5px;
}
#pulseaudio.2.muted {
  color: #414868;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: #24283b;
  color: #e0af68;
  font-size: 26px;
  padding: 5px;
}
#backlight.2 {
  background: #24283b;
  padding: 5px;
  color: #e0af68;
}

/** ********** Battery ********** **/
#battery.1 {
  background: #24283b;
  color: #9ece6a;
  font-size: 25px;
  padding: 5px;
}

#battery.1.charging {
  color: #f7768e;
}

#battery.1.plugged {
  color: #ff9e64;
}

#battery.2 {
  background: #24283b;
  color: #9ece6a;
  padding: 5px;
}

#battery.2.charging {
  color: #f7768e;
}

#battery.2.plugged {
  color: #ff9e64;
}

@keyframes blink {
  to {
    background-color: #f7768e;
  }
}

#battery.2.critical:not(.charging) {
  color: #e0af68;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
  background: #24283b;
  color: #73daca;
  font-size: 22px;
  font-weight: bolder;
  padding: 5px;
}
#clock.date {
  background: #24283b;
  color: #73daca;
  font-size: 22px;
  font-weight: bolder;
  padding: 5px;
}
#clock.time {
  background: #24283b;
  color: #b4f9f8;
  font-size: 22px;
  font-weight: bolder;
  padding: 5px;
}

/** ********** Tray ********** **/
#tray {
  background-color: #414868;
  padding: 5px;
}

#language {
  background: #24283b;
  color: #2ac3de;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  padding-bottom: 13px;
}

#idle_inhibitor {
  background: #24283b;
  color: #565f89;
  font-size: 26px;
  padding: 5px;
}
#idle_inhibitor.activated {
  color: #9ece6a;
}

/** ********** Custom ********** **/
#custom-calendar-icon {
  background: #24283b;
  color: #73daca;
  font-size: 26px;
  padding: 5px;
}

#custom-time-icon {
  background: #24283b;
  color: #b4f9f8;
  font-size: 26px;
  padding: 5px;
}

#custom-wttr.1 {
  background: #282828;
  color: #8ec07c;
  font-size: 10px;
  padding: 5px;
}
#custom-wttr.2 {
  background: #282828;
  color: #fbf1c7;
  font-size: 10px;
  padding: 5px;
}

#custom-wall {
  background: #24283b;
  color: #7dcfff;
  font-size: 26px;
  padding-bottom: 5px;
}

#custom-spotify {
  background: #24283b;
  color: #9ece6a;
  font-size: 26px;
  padding: 5px;
}
