/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Unica One", "tabler-icons";
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

window#waybar {
  background-color: transparent;
  border: linear-gradient(35deg, #1e1e2e, #ffffff)
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltips */
tooltip {
  background: rgba(30, 30, 46, 0.7);
  border: 1px solid rgba(49, 50, 68, 0.7);
}
tooltip label {
  color: #cdd6f4;
}

/* Workspaces */
#workspaces {
  background: #1e1e2e;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#workspaces button {
  color: #45475a;
  padding: 5px;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 10px;
}

#workspaces button.active {
  border-radius: 10px;
  color: #f5e0dc;
}

#workspaces button.focused {
  border-radius: 10px;
  color: #f5e0dc;
}

#workspaces button.visible {
  border-radius: 10px;
  color: #f5e0dc;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button.hidden {
  border-radius: 10px;
  color: #45475a;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: #313244;
  color: #f2cdcd;
  font-size: 26px;
  padding: 5px;
}
#pulseaudio.1.muted {
  color: #45475a;
}
#pulseaudio.2 {
  background: #313244;
  font-size: 20px;
  font-weight: bold;
  color: #f2cdcd;
  padding: 5px;
}
#pulseaudio.2.muted {
  color: #45475a;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: #313244;
  color: #f5c2e7;
  font-size: 26px;
  padding: 5px;
}
#backlight.2 {
  background: #313244;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: #f5c2e7;
}

/** ********** Battery ********** **/
#battery.1 {
  background: #313244;
  color: #cba6f7;
  font-size: 26px;
  padding: 5px;
}

#battery.1.charging {
  color: #f38ba8;
}

#battery.1.plugged {
  color: #fab387;
}

#battery.2 {
  background: #313244;
  font-size: 20px;
  font-weight: bold;
  color: #cba6f7;
  padding: 5px;
}

#battery.2.charging {
  color: #f38ba8;
}

#battery.2.plugged {
  color: #fab387;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
  }
}

#battery.2.critical:not(.charging) {
  color: #fab387;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
  background: #313244;
  color: #94e2d5;
  font-size: 26px;
  font-weight: bolder;
  padding-top: 5px;
}
#clock.date {
  background: #313244;
  color: #94e2d5;
  font-size: 26px;
  font-weight: bolder;
  padding-bottom: 5px;
}
#clock.time {
  background: #313244;
  color: #89dceb;
  font-size: 26px;
  font-weight: bolder;
  padding: 5px;
}

/** ********** Tray ********** **/
#tray {
  background-color: #45475a;
  padding: 5px;
}

#language {
  background: #313244;
  color: #74c7ec;
  font-size: 26px;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  padding-top: 5px;
  padding-bottom: 13px;
}

#idle_inhibitor {
  background: #313244;
  color: #45475a;
  font-size: 26px;
  padding: 8px;
}
#idle_inhibitor.activated {
  color: #eba0ac;
}

/** ********** Custom ********** **/
#custom-calendar-icon {
  background: #313244;
  color: #94e2d5;
  font-size: 26px;
  padding: 5px;
}

#custom-time-icon {
  background: #313244;
  color: #89dceb;
  font-size: 26px;
  padding: 5px;
}

#custom-wall {
  background: #313244;
  color: #f9e2af;
  font-size: 26px;
  padding-bottom: 5px;
}

#custom-spotify {
  background: #313244;
  color: #a6e3a1;
  font-size: 26px;
  padding: 5px;
}
