/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Fira Sans Book", "tabler-icons";
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltips */
tooltip {
  background: rgba(29, 32, 33, 0.7);
  border: 1px solid rgba(29, 32, 33, 0.7);
}
tooltip label {
  color: #fbf1c7;
}

/* Workspaces */
#workspaces {
  background: #1d2021;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#workspaces button {
  /* min-width: 10px; */
  color: #504945;
  padding: 5px;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.0);
}

#workspaces button.active {
  border-radius: 10px;
  color: #a89984;
}

#workspaces button.urgent {
  color: #cc241d;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: #282828;
  color: #b16286;
  font-size: 26px;
  padding: 5px;
}
#pulseaudio.2 {
  background: #282828;
  color: #b16286;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
#pulseaudio.1.muted {
  color: #504945;
}
#pulseaudio.2.muted {
  color: #504945;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: #282828;
  color: #458588;
  font-size: 26px;
  padding: 5px;
}
#backlight.2 {
  background: #282828;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: #458588;
}

/** ********** Battery ********** **/
#battery.1 {
  background: #282828;
  color: #d79921;
  font-size: 26px;
  padding: 5px;
}
#battery.1.charging {
  color: #98971a;
}
#battery.1.plugged {
  color: #cc241d;
}
#battery.2 {
  background: #282828;
  font-size: 20px;
  font-weight: bold;
  color: #d79921;
  padding: 5px;
}
#battery.2.charging {
  color: #98971a;
}
#battery.2.plugged {
  color: #cc241d;
}

@keyframes blink {
  to {
    background-color: #fb4934;
  }
}

#battery.2.critical:not(.charging) {
  color: #b8bb26;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
  background: #282828;
  color: #d3869b;
  font-size: 26px;
  font-weight: bolder;
  padding: 5px;
}
#clock.date {
  background: #282828;
  color: #d3869b;
  font-size: 26px;
  font-weight: bolder;
  padding: 5px;
}
#clock.time {
  background: #282828;
  color: #8ec07c;
  font-size: 26px;
  font-weight: bolder;
  padding: 5px;
}

/** ********** Tray ********** **/
#tray {
  background-color: #3c3836;
  padding: 5px;
}

#language {
  background: #282828;
  color: #d65d0e;
  font-size: 26px;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  padding-top: 5px;
  padding-bottom: 13px;
}

#idle_inhibitor {
  background: #282828;
  color: #7c6f64;
  font-size: 26px;
  padding: 8px;
}
#idle_inhibitor.activated {
  color: #fabd2f;
}

/** ********** Custom ********** **/
#custom-calendar-icon {
  background: #282828;
  color: #d3869b;
  font-size: 26px;
  padding: 5px;
}

#custom-time-icon {
  background: #282828;
  color: #8ec07c;
  font-size: 26px;
  padding: 5px;
}

#custom-wall {
  background: #282828;
  color: #83a598;
  font-size: 26px;
  padding-bottom: 5px;
}

#custom-spotify {
  background: #282828;
  color: #689d6a;
  font-size: 26px;
  padding: 5px;
}
