/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Unica One", "tabler-icons";
  font-weight: normal;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltips */
tooltip {
  background: rgba(236, 239, 244, 0.9);
  border: 1px solid rgba(236, 239, 244, 0.9);
}
tooltip label {
  color: #2e3440;
}

/* Workspaces */
#workspaces {
  background: #e5e9f0;
  border-bottom: 7px solid rgba(183, 186, 192,1.0);
  border-right: 7px solid rgba(183, 186, 192,1.0);
  border-radius: 8px 24px 8px 24px;
  font-size: 30px;
}

#workspaces button {
  min-width: 35px;
  color: #d8dee9;
  padding: 5px;
}

#workspaces button:hover {
  background: #8fbcbb;
  border-bottom: 7px solid rgba(128, 169, 168,1.0);
  border-right: 7px solid rgba(128, 169, 168,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #eceff4;
  margin-bottom: -7px;
  margin-right: -7px;
  padding: 5px;
}

#workspaces button.active {
  background: #88c0d0;
  border-bottom: 7px solid rgba(122, 172, 187, 1.0);
  border-right: 7px solid rgba(122, 172, 187, 1.0);
  border-radius: 8px 24px 8px 24px;
  color: #eceff4;
  margin-bottom: -7px;
  margin-right: -7px;
  padding: 5px;
}

#workspaces button.urgent {
  color: #bf616a;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: #e5e9f0;
  border-top: 3px solid rgba(183, 186, 196, 1.0);
  border-right: 7px solid rgba(183, 186, 196, 1.0);
  border-radius: 24px 8px 0 0;
  color: #d08770;
  font-size: 26px;
  margin-top: 7px;
  padding: 5px;
}
#pulseaudio.2 {
  background: #e5e9f0;
  border-right: 7px solid rgba(183, 186, 196, 1.0);
  border-radius: 0 0 24px 8px;
  color: #d08770;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
}
#pulseaudio.1.muted {
  color: #d8dee9;
}
#pulseaudio.2.muted {
  color: #d8dee9;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: #e5e9f0;
  border-radius: 24px 8px 0 0;
  border-top: 3px solid rgba(183, 186, 196, 1.0);
  border-right: 7px solid rgba(183, 186, 196, 1.0);
  color: #ebcb8b;
  font-size: 26px;
  margin-top: 7px;
  padding: 5px;
}
#backlight.2 {
  background: #e5e9f0;
  border-radius: 0 0 24px 8px;
  border-right: 7px solid rgba(183, 186, 196, 1.0);
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  color: #ebcb8b;
}

/** ********** Battery ********** **/
#battery.1 {
  background: #e5e9f0;
  border-radius: 24px 8px 0 0;
  border-top: 7px solid rgba(183, 186, 196, 1.0);
  border-right: 7px solid rgba(183, 186, 196, 1.0);
  color: #a3be8c;
  font-size: 26px;
  margin-top: 7px;
  padding: 5px;
}
#battery.1.charging {
  background: #a3be8c;
  border-top: 7px solid rgba(146, 171, 126, 1.0);
  border-right: 7px solid rgba(146, 171, 126, 1.0);
  color: #eceff4;
}
#battery.1.plugged {
  background: #bf616a;
  border-top: 7px solid rgba(171, 87, 95, 1.0);
  border-right: 7px solid rgba(171, 87, 95, 1.0);
  color: #eceff4;
}
#battery.2 {
  background: #eceff4;
  border-radius: 0 0 24px 8px;
  border-right: 7px solid rgba(183, 186, 196, 1.0);
  font-size: 16px;
  font-weight: bold;
  color: #a3be8c;
  padding: 5px;
}
#battery.2.charging {
  background: #a3be8c;
  border-right: 7px solid rgba(146, 171, 126, 1.0);
  color: #eceff4;
}
#battery.2.plugged {
  background: #bf616a;
  border-right: 7px solid rgba(171, 87, 95, 1.0);
  color: #eceff4;
}

@keyframes blink {
  to {
    background: #ebcb8b;
    border-right: 7px solid rgba(211, 182, 125, 1.0);
    border-top: 7px solid rgba(211, 182, 125, 1.0);
  }
}

#battery.1.critical:not(.charging) {
  color: #eceff4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.2.critical:not(.charging) {
  color: #eceff4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#custom-calendar-icon {
  background: #eceff4;
  border-radius: 8px 24px 0 0;
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  margin-top: 7px;
  color: #2e3440;
  font-size: 26px;
  padding: 5px;
}
#clock {
  background: #e5e9f0;
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  color: #2e3440;
  font-size: 26px;
  font-weight: bolder;
}
#clock.date {
  background: #e5e9f0;
  border-radius: 0 0 8px 24px;
  border-bottom: 3px solid rgba(183, 186, 192, 1.0);
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  color: #2e3440;
  font-size: 26px;
  font-weight: bolder;
}

#custom-time-icon {
  background: #e5e9f0;
  border-radius: 24px 8px 0 0;
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  border-top: 3px solid rgba(183, 186, 192, 1.0);
  margin-top: 7px;
  color: #2e3440;
  font-size: 26px;
  padding: 5px;
}
#clock.time {
  background: #e5e9f0;
  border-radius: 0 0 24px 8px;
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  color: #2e3440;
  font-size: 26px;
  font-weight: bolder;
}

/** ********** Tray ********** **/
#tray {
  background: #4c566a;
  border-radius: 24px 8px 24px 8px;
  border-top: 5px solid rgba(60, 68, 84, 1.0);
  border-right: 7px solid rgba(60, 68, 84, 1.0);
  margin-top: 7px;
  padding: 5px;
}

#language {
  background: #bf616a;
  border-bottom: 5px solid rgba(171, 87, 95, 1.0);
  border-right: 7px solid rgba(171, 87, 95, 1.0);
  border-radius: 8px 24px 8px 24px;
  color: #eceff4;
  font-size: 24px;
  font-weight: bold;
  margin-top: 7px;
  padding: 5px;
}

#idle_inhibitor {
  background: #e5e9f0;
  border-bottom: 5px solid rgba(183, 186, 192, 1.0);
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  border-radius: 8px 24px 8px 24px;
  color: #d8dee9;
  font-size: 26px;
  margin-top: 7px;
  padding: 5px;
}
#idle_inhibitor.activated {
  background: #81a1c1;
  border-bottom: 5px solid rgba(116, 144, 173, 1.0);
  border-right: 7px solid rgba(116, 144, 173, 1.0);
  border-radius: 8px 24px 8px 24px;
  color: #eceff4;
}

/** ********** Custom ********** **/
#custom-wall {
  background: #5e81ac;
  border-bottom: 5px solid rgba(84, 116, 154, 1.0);
  border-right: 7px solid rgba(84, 116, 154, 1.0);
  border-radius: 8px 24px 8px 24px;
  color: #eceff4;
  font-size: 26px;
  margin-top: 7px;
  padding: 5px;
}

#custom-spotify {
  background: #a3be8c;
  border-bottom: 3px solid rgba(146, 171, 126, 1.0);
  border-right: 7px solid rgba(146, 171, 126, 1.0);
  border-radius: 8px 24px 8px 24px;
  color: #eceff4;
  font-size: 26px;
  margin-top: 7px;
  padding: 5px;
}

#custom-weather.1 {
  background: #e5e9f0;
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  border-top: 3px solid rgba(183, 186, 192, 1.0);
  border-radius: 24px 8px 0 0;
  color: #2e3440;
  font-size: 26px;
  padding: 5px;
}
#custom-weather.2 {
  background: #e5e9f0;
  border-right: 7px solid rgba(183, 186, 192, 1.0);
  border-radius: 0 0 24px 8px;
  color: #2e3440;
  font-size: 16px;
  padding: 2px;
}
#custom-weather.1.default {
  color: #a3be8c;
}
#custom-weather.1.severe {
  color: #bf616a;
}
#custom-weather.1.sunnyDay {
  color: #ebcb8b;
}
#custom-weather.1.clearNight {
  color: #4c566a;
}
#custom-weather.1.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
  color: #d8dee9;
}
#custom-weather.1.rainyDay, #custom-weather.rainyNight {
  color: #e5e9f0;
}
#custom-weather.1.showyIcyDay, #custom-weather.snowyIcyNight {
  color: #88c0d0;
}
