/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Unica One", "tabler-icons";
  font-weight: normal;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltips */
tooltip {
  background: rgba(30, 30, 46, 0.7);
  border: 1px solid rgba(30, 30, 46, 0.7);
}
tooltip label {
  color: #cdd6f4;
}

/* Workspaces */
#workspaces {
  background: #585b70;
  border-bottom: 7px solid rgba(69,71,90,1.0);
  border-right: 7px solid rgba(69,71,90,1.0);
  border-radius: 8px 24px 8px 24px;
  font-size: 30px;
  margin-left: 7px;
  margin-top: 20px;
}

#workspaces button {
  min-width: 35px;
  color: #6c7086;
  padding: 5px;
}

#workspaces button:hover {
  background: #f9e2af;
  border-bottom: 7px solid rgba(250,179,135,1.0);
  border-right: 7px solid rgba(250,179,135,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #313244;
  margin-bottom: -7px;
  margin-right: -7px;
  padding: 5px;
}

#workspaces button.active {
  background: #f5e0dc;
  border-bottom: 7px solid rgba(242,205,205,1.0);
  border-right: 7px solid rgba(242,205,205,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #313244;
  margin-bottom: -7px;
  margin-right: -7px;
  padding: 5px;
}

#workspaces button.urgent {
  color: #f38ba8;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  background: #585b70;
  border-top: 3px solid rgba(69,71,90,1.0);
  border-right: 7px solid rgba(69,71,90,1.0);
  border-radius: 24px 8px 0 0;
  color: #89b4fa;
  font-size: 26px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}
#pulseaudio.2 {
  background: #585b70;
  border-right: 7px solid rgba(69,71,90,1.0);
  border-radius: 0 0 24px 8px;
  color: #89b4fa;
  font-size: 16px;
  font-weight: bold;
  margin-left: 7px;
  padding: 2px;
}
#pulseaudio.1.muted {
  color: #6c7086;
}
#pulseaudio.2.muted {
  color: #6c7086;
}

/** ********** Backlight ********** **/
#backlight.1 {
  background: #585b70;
  border-radius: 24px 8px 0 0;
  border-top: 3px solid rgba(69,71,90,1.0);
  border-right: 7px solid rgba(69,71,90,1.0);
  color: #f9e2af;
  font-size: 26px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}
#backlight.2 {
  background: #585b70;
  border-radius: 0 0 24px 8px;
  border-right: 7px solid rgba(69,71,90,1.0);
  font-size: 16px;
  font-weight: bold;
  margin-left: 7px;
  padding: 2px;
  color: #f9e2af;
}

/** ********** Battery ********** **/
#battery.1 {
  background: #585b70;
  border-radius: 24px 8px 0 0;
  border-top: 7px solid rgba(69,71,90,1.0);
  border-right: 7px solid rgba(69,71,90,1.0);
  color: #89dceb;
  font-size: 26px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}
#battery.1.charging {
  background: #a6e3a1;
  border-top: 7px solid rgba(149,204,144,1.0);
  border-right: 7px solid rgba(149,204,144,1.0);
  color: #313244;
}
#battery.1.plugged {
  background: #f38ba8;
  border-top: 7px solid rgba(218,125,151,1.0);
  border-right: 7px solid rgba(218,125,151,1.0);
  color: #313244;
}
#battery.2 {
  background: #585b70;
  border-radius: 0 0 24px 8px;
  border-right: 7px solid rgba(69,71,90,1.0);
  font-size: 16px;
  font-weight: bold;
  color: #89dceb;
  margin-left: 7px;
  margin-bottom: 20px;
  padding: 5px;
}
#battery.2.charging {
  background: #a6e3a1;
  border-right: 7px solid rgba(149,204,144,1.0);
  color: #313244;
}
#battery.2.plugged {
  background: #f38ba8;
  border-right: 7px solid rgba(218,125,151,1.0);
  color: #313244;
}

@keyframes blink {
  to {
    background: #f9e2af;
    border-right: 7px solid rgba(224,203,157,1.0);
    border-top: 7px solid rgba(224,203,157,1.0);
  }
}

#battery.1.critical:not(.charging) {
  color: #313244;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.2.critical:not(.charging) {
  color: #313244;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#custom-calendar-icon {
  background: #585b70;
  border-radius: 8px 24px 0 0;
  border-right: 7px solid rgba(69,71,90,1.0);
  margin-left: 7px;
  margin-top: 7px;
  color: #cdd6f4;
  font-size: 26px;
  padding: 5px;
}
#clock {
  background: #585b70;
  border-right: 7px solid rgba(69,71,90,1.0);
  margin-left: 7px;
  color: #cdd6f4;
  font-size: 26px;
  font-weight: bolder;
}
#clock.date {
  background: #585b70;
  border-radius: 0 0 8px 24px;
  border-bottom: 3px solid rgba(69,71,90,1.0);
  border-right: 7px solid rgba(69,71,90,1.0);
  color: #cdd6f4;
  margin-left: 7px;
  font-size: 26px;
  font-weight: bolder;
}

#custom-time-icon {
  background: #585b70;
  border-radius: 24px 8px 0 0;
  border-right: 7px solid rgba(69,71,90,1.0);
  border-top: 3px solid rgba(69,71,90,1.0);
  margin-left: 7px;
  margin-top: 7px;
  color: #cdd6f4;
  font-size: 26px;
  padding: 5px;
}
#clock.time {
  background: #585b70;
  border-radius: 0 0 24px 8px;
  border-right: 7px solid rgba(69,71,90,1.0);
  margin-left: 7px;
  color: #cdd6f4;
  font-size: 26px;
  font-weight: bolder;
}

/** ********** Tray ********** **/
#tray {
  background: #7f849c;
  border-radius: 24px 8px 24px 8px;
  border-top: 5px solid rgba(108,112,134,1.0);
  border-right: 7px solid rgba(108,112,134,1.0);
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}

#language {
  background: #fab387;
  border-bottom: 5px solid rgba(225,161,121,1.0);
  border-right: 7px solid rgba(225,161,121,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #313244;
  font-size: 24px;
  font-weight: bold;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}

#idle_inhibitor {
  background: #585b70;
  border-bottom: 5px solid rgba(69,71,90,1.0);
  border-right: 7px solid rgba(69,71,90,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #6c7086;
  font-size: 26px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}
#idle_inhibitor.activated {
  background: #f5c2e7;
  border-bottom: 5px solid rgba(220,174,207,1.0);
  border-right: 7px solid rgba(220,174,207,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #313244;
}

/** ********** Custom ********** **/
#custom-wall {
  background: #cba6f7;
  border-bottom: 5px solid rgba(182,149,222,1.0);
  border-right: 7px solid rgba(182,149,222,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #313244;
  font-size: 26px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}

#custom-spotify {
  background: #a6e3a1;
  border-bottom: 3px solid rgba(149,204,144,1.0);
  border-right: 7px solid rgba(149,204,144,1.0);
  border-radius: 8px 24px 8px 24px;
  color: #313244;
  font-size: 26px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
}
