configuration {
  modi: "drun,emoji:rofimoji --action copy --max-recent 0";
  font: "Rubik Bold 24px";
  icon-theme: "Papirus-Dark";
  show-icons: true;
  display-drun: ">_";
  display-emoji: "😃";
  terminal: "kitty";
  sidebar-mode: true;
}

@theme "~/.config/rofi/theme/catppuccin.rasi"
