/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Rubik", "tabler-icons";
  font-size: 18px;
  /* font-weight: bold; */
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.0;
}

/* Tooltips */
tooltip {
  background: rgba(46, 52, 64, 0.9);
  border: 1px solid rgba(46, 52, 64, 0.9);
  border-radius: 16px;
  padding: 20px;
}
tooltip label {
  color: #eceff4;
}

/* Workspaces */
#workspaces {
  background: transparent;
  border-radius: 16px;
  margin: 5px 10px 3px 0;
  padding: 4px 1px;
}

#workspaces button {
  background: #3B4252;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  margin: 0px 3px;
  min-height: 1px;
  opacity: 0.6;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: #A3BE8C;
  background-size: 400% 400%;
  border-radius: 10px;
  min-width: 30px;
}

#workspaces button.active {
  background: #A3BE8C;
  background-size: 400% 400%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.134) 2 2 5 2px;
  min-width: 40px;
  opacity: 1.0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background: #BF616A;
}

#workspaces button.persistent {
  background: #A3BE8C;
  transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********* Taskbar ********** **/
#taskbar {
  background: #434C5E;
  /* border: 3px solid #3c3836; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  margin: 5px 6px 3px 0;
  opacity: 0.8;
  /* padding: 2px 10px 0 10px; */
}
#taskbar button {
  margin: 0;
  padding: 0 5px;
}
taskbar#waybar.empty #taskbar {
  background-color: transparent;
  margin: 5px 10px 3px 0;
  padding: 2px 10px 0 10px;
}


.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ********** Window ********** **/
#window{
  color: #8FBCBB;
  font-weight: bold;
  margin: 5px 10px 3px 0;
  padding: 2px 10px 0 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}
window#waybar.empty #window {
  background-color: transparent;
  margin: 5px 10px 3px 0;
  padding: 2px 10px 0 10px;
  opacity: 0.0;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
  background: linear-gradient(45deg, #B48EAD, #88C0D0);
  /* border: 3px solid #262626; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  color: #2e3440;
  margin: 5px 10px 3px 0;
  padding: 1px 10px 0 10px;
  opacity: 0.8;
}

/** ********** Backlight ********** **/
#backlight {
  background: linear-gradient(45deg, #88C0D0, #B48EAD);
  /* border: 3px solid #262626; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.166) 2 2 5 2px;
  color: #2e3440;
  margin: 5px 10px 3px 0;
  padding: 1px 10px 0 10px;
  opacity: 0.8;
}

/** ********** Battery ********** **/
#battery {
  background: linear-gradient(45deg, #B48EAD, #88C0D0);
  /* border: 3px solid #262626; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.166) 2 2 5 2px;
  color: #2e3440;
  margin: 5px 10px 3px 0;
  padding: 1px 10px 0 10px;
  opacity: 0.8;
}

#battery.charging {
  background: linear-gradient(45deg, #D08770, #BF616A);
}

#battery.plugged {
  background: linear-gradient(45deg, #8FBCBB, #A3BE8C);
}

@keyframes blink {
  to {
    background: linear-gradient(45deg, #EBCB8B, #D08770);
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #2e3440;
  opacity: 1.0;
}

/** ********** Clock ********** **/
#clock {
  background: linear-gradient(45deg,#8FBCBB, #B48EAD);
  /* border: 3px solid #262626; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.166) 2 2 5 2px;
  color: #2e3440;
  font-weight: bold;
  margin: 5px 10px 3px 0;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
}

/** ********** Tray ********** **/
#tray {
  background: #434C5E;
  /* border: 3px solid #262626; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.166) 2 2 5 2px;
  margin: 5px 10px 3px 0;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #BF616A;
}

#language {
  color: #eceff4;
  /* font-weight: bold; */
  margin: 5px 10px 3px 0;
  padding: 1px 10px 0 10px;
  opacity: 0.8;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#idle_inhibitor {
  background: #3B4252;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  color: #434C5E;
  margin: 5px 10px 3px 14px;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
}
#idle_inhibitor.activated {
  /* animation: gradient_f 20s ease-in-out infinite; */
  /* background: rgb(203,166,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 400% 400%;
  background: linear-gradient(45deg, #8FBCBB, #B48EAD);
  border-radius: 16px;
  color: #2e3440;
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/** ********** Custom ********** **/

#custom-weather {
  background: #3B4252;
  /* border: 3px solid #262626; */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  font-weight: bold;
  margin: 5px 10px 3px 0;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
}
#custom-weathe#custom-weather.default {
  color: #A3BE8C;
}
#custom-weather.severe {
  color: #BF616A;
}
#custom-weather.sunnyDay {
  color: #EBCB8B;
}
#custom-weather.clearNight {
  color: #4C566A;
}
#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
  color: #4C566A;
}
#custom-weather.rainyDay, #custom-weather.rainyNight {
  color: #B48EAD;
}
#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
  color: #88C0D0;
}

#custom-wall {
  color: #A3BE8C;
  margin: 5px 0px 3px 0;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

/* Swaync */
#custom-swaync {
  /* animation: gradient_f 20s ease-in-out infinite; */
  /* background: rgb(177,98,247); */
  /* background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); */
  background-size: 400% 400%;
  background: linear-gradient(45deg, #B48EAD, #8FBCBB);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  color: #2e3440;
  font-weight: bold;
  margin: 5px 10px 3px 0;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

/* Theme switcher */
#custom-themeswitcher {
  color: #eceff4;
  margin: 5px 0px 3px 0;
  opacity: 0.8;
  padding: 1px 10px 0 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}
