/* ██╗    ██╗██╗      ██████╗  ██████╗  ██████╗ ██╗   ██╗████████╗ */
/* ██║    ██║██║     ██╔═══██╗██╔════╝ ██╔═══██╗██║   ██║╚══██╔══╝ */
/* ██║ █╗ ██║██║     ██║   ██║██║  ███╗██║   ██║██║   ██║   ██║ */
/* ██║███╗██║██║     ██║   ██║██║   ██║██║   ██║██║   ██║   ██║ */
/* ╚███╔███╔╝███████╗╚██████╔╝╚██████╔╝╚██████╔╝╚██████╔╝   ██║ */
/*  ╚══╝╚══╝ ╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝  ╚═════╝    ╚═╝ */
/*  */
/*  ██████╗███████╗███████╗ */
/* ██╔════╝██╔════╝██╔════╝ */
/* ██║     ███████╗███████╗ */
/* ██║     ╚════██║╚════██║ */
/* ╚██████╗███████║███████║ */
/*  ╚═════╝╚══════╝╚══════╝ */

/** ********** Fonts ********** **/
* {
  font-family: "Schibsted Grotesk", "Iosevka Nerd Font", archcraft, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/** ********** Main Window ********** **/
window {
  background-color: rgba(25, 23, 36, 1.0);
}

/** ********** Buttons ********** **/
button {
  background-color: rgba(224, 222, 244, 0.020);
  color: #e0def4;
	border: 0px solid rgba(31, 29, 46, 1.0);
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
  margin: 10px;
}

button:focus, button:active, button:hover {
  background-color: rgba(196, 167, 231, 1.0);
	box-shadow: 0px 0px 25px 0px rgba(196, 167, 231, 0.85);
	color: #1f1d2e;
  margin: 10px;
	outline-style: none;
}

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
