/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/** ********** Main Window ********** **/
window {
    background-color: rgba(250, 244, 237, 1.0);
}

/** ********** Buttons ********** **/
button {
  background-color: rgba(87, 82, 121, 0.020);
  color: #575279;
	border: 0px solid rgba(255, 250, 243, 1.0);
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}

button:focus, button:active, button:hover {
  background-color: rgba(40, 105, 131, 1.0);
	box-shadow: 0px 0px 25px 0px rgba(40, 105, 131, 0.85);
	color: #faf4ed;
	outline-style: none;
}

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
