/** ********** Fonts ********** **/
* {
    font-family: "Rubik", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/** ********** Main Window ********** **/
window {
    background-color: rgba(46, 52, 64, 1.0);
}

/** ********** Buttons ********** **/
button {
    background-color: rgba(236, 239, 244, 0.020);
    color: #eceff4;
	border: 0px solid rgba(59, 66, 82, 1.0);
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
  margin: 10px;
}

button:focus, button:active, button:hover {
    background-color: rgba(236, 239, 244, 1.0);
	box-shadow: 0px 0px 25px 0px rgba(236, 239, 244, 0.85);
	color: #3b4252;
	outline-style: none;
}

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
