/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗      ██████╗███████╗███████╗ */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ██║     ███████╗███████╗ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ██║     ╚════██║╚════██║ */
/* ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ╚██████╗███████║███████║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝     ╚═════╝╚══════╝╚══════╝ */

/* General configuration */
* {
  border: none;
  font-family: "Unica One", "tabler-icons";
  font-weight: normal;
}

button {
  min-height: 18px;
  min-width: 56px;
}

window#waybar {
  background: rgba(40, 40, 40, 0.8);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltips */
tooltip {
  background: rgba(40, 40, 40, 0.9);
  border: 1px solid rgba(40, 40, 40, 0.9);
}
tooltip label {
  color: #8ec07c;
}

/* Workspaces */
#workspaces {
  font-size: 18px;
  margin-bottom: 5px;
  padding: 5px 0 5px 0;
}

#workspaces button {
  min-width: 12px;
  color: #d79921;
  padding: 5px;
}

#workspaces button:hover {
  color: #98971a;
  padding: 5px;
}

#workspaces button.active {
  color: #98971a;
  padding: 5px;
}

#workspaces button.urgent {
  color: #cc241d;
}

#workspaces button.persistent {
  color: #3c3836;
  padding: 5px;

}

window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Pulseaudio ********** **/
#pulseaudio.1 {
  color: #d65d0e;
  font-size: 18px;
  padding: 5px 0 5px 0;
}
#pulseaudio.2 {
  color: #d65d0e;
  font-size: 16px;
  padding: 5px 0 5px 0;
}

/** ********** Backlight ********** **/
#backlight.1 {
  color: #d79921;
  padding: 5px 0 5px 0;
}
#backlight.2 {
  color: #d79921;
  font-size: 16px;
  padding: 5px 0 5px 0;
}

/** ********** Battery ********** **/
#battery.1 {
  color: #98971a;
  padding: 5px 0 5px 0;
}

#battery.1.charging {
  color: #cc241d;
}

#battery.1.plugged {
  color: #98971a;
}

#battery.2 {
  color: #98971a;
  font-size: 16px;
  padding: 5px 0 5px 0;
}

#battery.2.charging {
  color: #cc241d;
}

#battery.2.plugged {
  color: #98971a;
}

@keyframes blink {
  to {
    background-color: #d79921;
  }
}

#battery.2.critical:not(.charging) {
  color: #282828;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
  color: #8ec07c;
  font-size: 24px;
  font-weight: bolder;
  padding: 10px 0 0 0;
}
#clock.2 {
  border-radius: 0 0 0 0;
  color: #83a598;
  font-size: 24px;
  font-weight: bolder;
  padding: 0 0 5px 0;
}

/** ********** Tray ********** **/
#tray {
  border-radius: 4px;
  margin: 5px;
  padding: 10px 5px 10px 5px;
}

#language {
  color: #d79921;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

#idle_inhibitor {
  color: #504945;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 5px;
}
#idle_inhibitor.activated {
  background: linear-gradient(45deg, #8ec07c, #b8bb26);
  border-radius: 4px;
  color: #282828;
}

#cpu.1 {
  background: #3b4252;
  color: #81a1c1;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 5px;
  border-radius: 6px 6px 0 0;
}
#cpu.2 {
  background: #3b4252;
  color: #81a1c1;
  font-size: 10px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 0 5px 0;
}

#memory.1 {
  background: #3b4252;
  color: #81a1c1;
  margin-left: 2px;
  margin-right: 2px;
}
#memory.2 {
  background: #3b4252;
  color: #81a1c1;
  font-size: 10px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 0 5px 0;
}

#temperature.1 {
  background: #3b4252;
  color: #81a1c1;
  margin-left: 2px;
  margin-right: 2px;
}
#temperature.1.critical {
  color: #bf616a;
}
#temperature.2 {
  background: #3b4252;
  border-radius: 0 0 6px 6px;
  color: #81a1c1;
  font-size: 10px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
}
#temperature.2.critical {
  color: #bf616a;
}

/** ********** Custom ********** **/

#custom-wttr.1 {
  color: #88c0d0;
  font-size: 18px;
  padding: 5px 0 0 0;
}
#custom-wttr.2 {
  color: #88c0d0;
  font-size: 16px;
  padding: 5px 0 10px 0;
}

#custom-weather.1 {
  color: #ebdbb2;
  font-size: 18px;
  padding: 5px 0 0 0;;
}
#custom-weather.2 {
  color: #ebdbb2;
  font-size: 16px;
  padding: 5px 0 10px 0;
}
#custom-weather.1.default {
  color: #ebdbb2;
}
#custom-weather.1.severe {
    color: #cc241d;
}
#custom-weather.1.sunnyDay {
    color: #d79921;
}
#custom-weather.1.clearNight {
    color: #928374;
}
#custom-weather.1.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #504945;
}
#custom-weather.1.rainyDay, #custom-weather.rainyNight {
    color: #458588;
}
#custom-weather.1.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #8ec07c;
}

#custom-wall {
  color: #b16286;
  font-size: 18px;
  padding: 5px;
}

#custom-spotify {
  color: #98971a;
  font-size: 18px;
  padding: 5px;
}

/* Swaync */
#custom-swaync {
  background: linear-gradient(45deg, #b8bb26, #8ec07c);
  border-radius: 4px;
  color: #282828;
  font-size: 18px;
  padding: 5px;
}
