* {
    bg-col:  #1a1b26;
    bg-col-transparent:  #1a1b26dd;
    bg-col-element:  #1a1b26df;
    bg-col-light: #9ece6a;
    border-col: #9ece6a;
    selected-col: #9ece6a;
    tab: #9ece6a;
    tab-selected: #24283b;
    fg-col: #a9b1d6;
    fg-col2: #1a1b26;
    blank: #1a1b26;
    blank-underline: #14151e;
    button: #9ece6a;
    button-underline: #8eb95f;
    window: #1a1b26;
    window-underline: #14151e;

    width: 600;
}
